.search-header-container {
	height: 100px;
	line-height: 100px;
	position: relative;

	h1 {
		align-self: baseline;
		display: inline-block;
		padding-right: 10px;
	}

	span {
		align-self: baseline;
		display: inline-block;
		color: $mid-dark-gray;
	}
}
