/*
 * Font Specific Styles
 *
 */
// $font-family-default: 'Avenir Next', sans-serif;
// $default-font-family: 'Roboto', sans-serif; // "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-font-family: "Helvetica Neue", Helvetica, sans-serif;
$default-font-size: 13px;
$medium-font-size: 15px;

$h1-font-size: 18px;
$h1-desktop-font-size: 26px;

$h3-font-size: 16px;
$h3-desktop-font-size: 21px;

$default-font-weight: 400;
$normal-font-weight: 400;
$bold-font-weight: 700;

$input-label-font-size: 12px;
$input-placeholder-font-size: 18px;

