/*
 * App Colors
 *
 */
$darkness-gray: #494848;
$dark-gray: #666;
$mid-dark-gray: #b7b7b7;
$vampire-teeth-gray: #d9d9d9;
$gray: #808080;
$mid-gray: #ccc;
$light-gray: #e5e5e5;
$lightest-gray: #f4fbff;
$error-red: #f00;
$remove-red: #e74c4b;
$active-blue: #35bbf0;
$blue: #0cb0e2;
$black: #000;
$active-black: #100f0f;
$white: #fff;
$dark-blue: #376e9a;
$dark-blue-active: #26547d;
$ocean-blue: #1e92c8;
$ocean-dark-blue: #1c79a5;
$light-dark-blue: #688aa6;
$mid-dark-blue: #4e7698;
$lightest-blue: #f6fcff;

// Inputs
$input-bd: $mid-gray;
$select-bd: $mid-gray;
$placeholder-text: $mid-gray;
$label-text: $mid-dark-gray;
$suggestion-active-bg: $light-dark-blue;
$suggestion-active-bd: $dark-blue;
$suggestion-active-color: $white;
$submit-button-bg: $ocean-blue;
$submit-button-bd: $ocean-blue;
$submit-button-active-bg: $ocean-dark-blue;

$job-card-h2-color: $ocean-dark-blue;
$job-card-active-bd: $ocean-blue;

$details-header-bg: $ocean-blue;
$details-header-color: $white;
$details-cancel-btn-bg: $mid-gray;
$details-cancel-btn-bd: $mid-gray;
$details-cancel-btn-color: $white;
$details-apply-btn-bg: $ocean-blue;
$details-apply-btn-bd: $ocean-blue;
$details-apply-btn-color: $white;
